@font-face {
    font-family: "Raleway"; 
    src: url("../fonts/Raleway-SemiBold.woff") format(".woff")
    url("../fonts/Raleway-Regular.woff") format(".woff")
    url("../fonts/Raleway-Bold.woff") format(".woff")
    url("../fonts/Roboto-Regular.woff") format(".woff")
    url("../fonts/Raleway-ExtraBold.woff") format(".woff")
    url("../fonts/Raleway-Thin.woff") format(".woff")
    url("../fonts/Raleway-Light.woff") format(".woff")
    url("../fonts/Raleway-ExtraLight.woff") format(".woff")
    url("../fonts/Raleway-Medium.woff") format(".woff"); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    box-sizing: border-box;
    background: #f6f8f9;
}

button, img {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 45px;
}

a {
    text-decoration: none;
}

label {
    text-align: center;
    font-size: 15px;
    color: #061e37;
    font-family: Raleway-Medium, sans-serif;
}

footer {
    width: 100%;
    height: 300px;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa, .far, .fas {
    font-family: 'Font Awesome 5 Free';
}

.color-for-icons {
    color: #fff;
}

.container {
    padding: 0 76px;
}

/* -----------header------------ */
.container-background {
    padding: 0 76px;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-logo {
    display: flex;
}

.burger-menu-button {
    display: none;
}

.main-nav {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 15px;
}

.main-nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.main-nav li a {
    padding: 0 25px;
    color: #fff;
}

.main-nav a:hover {
    color: #061e37;
    font-weight: bold;
}

.header-button button {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    padding: 8px 19px;
    border-radius: 1px;
    font-size: 12px;
    font-family: Raleway-Regular, sans-serif;
}

.main-page {
    height: calc(100vh - 81px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-page-text {
    width: 50%;
    align-items: flex-start;
    align-self: center;
}

.main-page-header  {
    font-size: 55px;
    text-transform: uppercase;
    color: #f6f8f9;
    font-weight: bold;
    font-family: Raleway-ExtraBold, sans-serif;
}

.main-page-paragraph {
    font-size: 18px;
    color: #f6f8f9;
    font-family: Raleway-Regular, sans-serif;
    line-height: 36px;
    margin-top: 20px;
}

.main-page-buttons button {
    background-color: #fff; 
    border: none;
    border-radius: 5px;
    color: #061e37;
    padding: 20px 43px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right:  12px ;
    font-family: Raleway-Bold, sans-serif;
    font-weight: bold;
}

.main-page-buttons button:hover {
    color: #fff;
    background-color: #061e37;
    font-family: Roboto-Regular, sans-serif;
    font-weight: normal;
}

.main-page-video {
    position: relative;
    width: 50%;
}

.video-bg {
    width: 100%;
}

.video-text {
    display: flex;
    font-size: 12px;
    margin-top: 10px;
    font-family: Raleway-Bold, sans-serif;
    color: #061e37;
    font-weight: bold;
}

.video-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 60px;
    height: 60px;
    background: #061e37;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* --------easy-useful------- */
.easy-useful {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.easy-useful-main-text {
    width: 50%;
}

.easy-useful-main-text-header {
    font-size: 45px;
    text-align: center;
    color: #061e37;
    font-family: Raleway-SemiBold, sans-serif;
    margin-top: 100px;
}

.easy-useful-main-text-header-paragraph {
    font-size: 25px;
    text-align: center;
    color: #b0bec5;
    font-family: Raleway-SemiBold, sans-serif;
    margin: 25px 0 28px 0;
}

.easy-useful-main-text-paragraph {
    font-size: 15px;
    text-align: center;
    color: #b0bec5;
    font-family: Raleway-Regular, sans-serif;
    line-height: 1.7;
}

.easy-useful-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

.easy-useful-column-form {
    width: 33%;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.easy-useful-column-header {
    font-size: 20px;
    text-align: center;
    color: #061e37;
    font-family: Raleway-SemiBold, sans-serif;
    margin-top: 45px;
}

.easy-useful-column-paragraph {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    color: #93a6b0;
    font-family: Raleway-Regular, sans-serif;
    line-height: 1.2;
}

.easy-useful-button button {
    cursor: pointer;
    background-color: #1de9b6;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 20px 40px;
    margin-top: 80px;
}

.easy-useful-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

/* -----------color-block--------- */
.color-blocks-with-statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.color-block {
    width: 25%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color1 {
    background-color: #80d8ff;
}

.color2 {
    background-color: #82b1ff;
}

.color3 {
    background-color: #b388ff;
}

.color4 {
    background-color: #ea80fc;
}

.color-block-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px; 
    height: 60px;
    background: #fff;
    border-radius: 50%;
}

.color-block-information p {
    font-size: 20px;
    font-family: Raleway-ExtraBold, sans-serif;
    color: #fff;
    font-weight: bold;
    padding-left: 23px;
}

/* -----------services--------- */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
} 

.services-main-text {
    width: 50%;
}

.services-main-text-header {
    font-size: 45px;
    text-align: center;
    color: #061e37;
    font-family: Raleway-SemiBold, sans-serif;
    margin-top: 100px;
    margin-bottom: 30px;
}

.services-main-text-paragraph {
    font-size: 15px;
    text-align: center;
    color: #b0bec5;
    font-family: Raleway-Regular, sans-serif;
    line-height: 1.7;
}

.services-accordion-list {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.line {
    width: 50%;
    border-bottom: 2px solid #e6e6e6;
    padding: 30px 0;
}

.services-list {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.services-list-img-paragraph {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.wrapper-accordion-list-paragraph.active .services-list-img-paragraph {
    height: auto;
}

.services-item-list {
    font-size: 15px;
    color: #061e37;
    font-family: Raleway-Bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;
}

.services-statistics-paragraph {
    font-size: 15px;
    color: #061e37;
    font-family: Raleway-Regular, sans-serif;
    line-height: 1.7;
    text-align: justify;
    margin-left: 25px;
}

.accordion-header {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.accordion-button::before {
    content: '>';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}

.wrapper-accordion-list-paragraph.active .accordion-button::before {
    content: '>';
    transform: rotate(90deg);
  }

.accordion-button {
    background: transparent;
    border: none;
    outline: none; 
}

/* ---------testimonials--------- */
.container-background {
    padding: 0 76px;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.testimonials {
    height: calc(100vh - 81px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-main-text {
    width: 50%;
    align-items: flex-start;
    justify-content: space-between;
    align-self: center;
}

.testimonials-main-text-header {
    font-size: 45px;
    color: #f6f8f9;
    font-family: Raleway-SemiBold, sans-serif;
}

.testimonials-main-text-paragraph {
    font-size: 18px;
    color: #f6f8f9;
    font-family: Raleway-Regular, sans-serif;
    line-height: 36px;
    margin-top: 20px;
}

.testimonials-main-text-button button {
    background-color: white; 
    border: none;
    border-radius: 5px;
    color: #061e37;
    padding: 20px 43px;
    margin: 80px 0 80px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right:  12px ;
    font-family: Raleway-Bold, sans-serif;
    font-weight: bold;
}

.testimonials-main-text-button button:hover {
    color: #fff;
    background-color: #061e37;
    font-family: Roboto-Regular, sans-serif;
    font-weight: normal;
}

.container-customer-opinion {
    height: 380px;
    overflow: hidden;
}

.testimonials-opinion {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.testimonials-opinion-arrow {
    display: flex;
    z-index: 9;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

.testimonials-opinion-arrow i {
    margin-left: 85px;
}

.testimonials-customer-opinion {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.testimonials-person {
    margin-right: 20px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.testimonials-customer-opinion-header {
    color: #061e37;
    text-decoration: none;
    display: flex;
    justify-content: left;
    font-size: 15px;
    font-family: Raleway-SemiBold, sans-serif;
    padding-left: 30px;
}

.testimonials-customer-opinion-paragraph {
    z-index: 1;
    font-size: 15px;
    color: #93a6b0;
    font-family: Raleway-Regular, sans-serif;
    line-height: 1.7;
    padding: 20px 0 0 30px;
    text-align: left;
}

.testimonials-customer-opinion-rectangle {
    height: 160px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ------------our-team--------- */
.our-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.our-team-main-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} 

.our-team-main-text-header {
    font-size: 45px;
    text-align: center;
    color: #061e37;
    font-family: Raleway-SemiBold, sans-serif;
    margin-top: 100px;
    margin-bottom: 20px;
}

.our-team-main-text-paragraph, .our-team-another-text-paragraph {
    font-size: 15px;
    text-align: center;
    color: #b0bec5;
    font-family: Raleway-Regular, sans-serif;
    line-height: 1.7;
}

.our-team-another-text-header {
    font-size: 18px;
    text-align: center;
    color: #061e37;
    font-family: Raleway-Bold, sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
}

.our-team-images {
    width: 50%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.our-team-another-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.our-team-ico {
    width: 17%;
    margin-top: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* --------contact-us----------- */
.contact-us-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.contact-us-header-paragraph {
    width: 50%;
}

.contact-us-main-text-header {
    font-size: 45px;
    text-align: center;
    color: #061e37;
    font-family: Raleway-SemiBold, sans-serif;
    margin-top: 140px;
    margin-bottom: 30px;
}

.contact-us-main-text-paragraph {
    font-size: 15px;
    text-align: center;
    color: #061e37;
    font-family: Raleway-Regular, sans-serif;
    line-height: 1.7;
}

.contact-us-contacts-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us-contact-form {
    width: 50%;
    margin-top: 50px;
} 

.contact-us-input-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-name, .last-name {
    width: 50%;
    font-size: 14px;
    color: #061e37;
    border-color: #061e37;
    padding: 19px;
    border-radius: 5px;
    font-family: Raleway-Medium, sans-serif;
}

.email, .phone {
    margin-top: 19px;
    width: 50%;
    font-size: 14px;
    color: #061e37;
    border-color: #061e37;
    padding: 19px;
    border-radius: 5px;
    font-family: Raleway-Medium, sans-serif;
}

.message {
    margin-top: 19px;
    width: 100%;
    height: 148px;
    resize: none;
    font-size: 14px;
    color: #061e37;
    border-color: #061e37;
    padding: 19px;
    border-radius: 5px;
    font-family: Raleway-Medium, sans-serif;
}

.contact-us-checkbox-button .ch1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.contact-us-checkbox-wrapper .checkbox {
    width: 50%;
    margin-top: 37px;
}

.contact-us-checkbox-wrapper #square {
    width: 12px;
    height: 12px;
    border: 1px solid #061e37;
    border-radius: 2px;
    color: #061e37;
    cursor: pointer;
    margin-right: 15px;
    font-size: 15px;
    font-family: Raleway-Medium, sans-serif;
}

.contact-us-checkbox-wrapper {
    display: flex;
    align-items: center;
}

.contact-us-checkbox-button button {
    width: 25%;
    cursor: pointer;
    background-color: #1de9b6;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 20px 40px;
}

/* ---footer--- */
.container-footer-background {
    margin-top: 100px;
    padding: 0 76px;
    background-image: url("../images/bg_footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
}

.footer-logo {
    width: 30%;
}

.footer-menu {
    width: 40%;
    justify-content: right;
    text-align: right;
}

.footer-main-nav {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 15px;
}

.footer-main-nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.footer-main-nav li a {
    padding: 0 25px;
    color: #fff;
}

.footer-links-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
}

.footer-other-links {
    width: 70%;
    font-size: 15px;
    color: #fff;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 310px;
}

.footer-nav-privecy-policy {
    list-style: none;
}

ul.footer-nav a {
    color: #627181;
    text-decoration: none;
    font-family: Raleway-Regular, sans-serif;
}

ul.footer-nav a:hover {
    color: #fff;
}

ul.footer-nav li {
    margin-bottom: 15px;
}

.footer-social-ico {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 20%;
    margin-right: 25px;
}

.footer-social-ico:last-child {
    margin-right: 0;
}

/* ---------- */
@media screen and (max-width: 1280px) {
    label {
        font-size: 14px;
    }
    
    /* -----------header------------ */
    .header-logo {
        width: 25%;
    }

    .header-logo img {
        width: 150px;
    }

    .header-menu {
        width: 50%;
    }

    .heder-button {
        width: 25%;
    }

    .main-nav {
        font-size: 14px;
    }
    
    .main-nav li a {
        padding: 0 10px;
    }

    .burger-menu-button {
        display: none;
    }
    
    .header-button button {
        padding: 6px 13px;
        border-radius: 2px;
        font-size: 14px;
    }

    .main-page {
        margin-top: 40px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-page-text {
        width: 75%;
    }
    
    .main-page-header {
        font-size: 35px;
    }
    
    .main-page-paragraph {
        font-size: 16px;
        line-height: 30px;
        margin-top: 10px;
    }
    
    .main-page-buttons button {
        border-radius: 4px;
        padding: 15px 20px;
        font-size: 14px;
        margin-right: 10px;
        margin-top: 20px;
    }
    
    .video-text {
        font-size: 12px;
        margin-top: 10px;
    }

    .main-page-video {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 75%;
    }

    .video-play-arrow {
        width: 5px;
    }
    
    .square {
        width: 50px;
        height: 50px;
        background: #061e37;
        border-radius: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    } 
    
    /* --------easy-useful------- */
    .easy-useful-main-text-header {
        font-size: 35px;
        margin-top: 30px;
    }
    
    .easy-useful-main-text-header-paragraph {
        font-size: 16px;
        margin: 18px 0;
    }
    
    .easy-useful-main-text-paragraph {
        font-size: 12px;
    }
    
    .easy-useful-columns {
        margin-top: 50px;
    }
    
    .easy-useful-column-form {
        width: 33%;
        margin: 0 20px;
    }

    .easy-useful-column-image {
        width: 50px;
    }
    
    .easy-useful-column-header {
        font-size: 16px;
        margin-top: 15px;
    }
    
    .easy-useful-column-paragraph {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.2;
    }
    
    .easy-useful-button button {
        border-radius: 4px;
        padding: 20px 30px;
        font-size: 14px;
        margin-top: 30px;
    }
    
    /* -----------color-block--------- */
    .color-block {
        height: 100px;
    }

    .color-block-information {
        width: 50%; 
    }
    
    .color-block-ico img {
        width: 20px;
    }
    
    .color-block-information p {
        text-align: center;
        font-size: 16px;
        padding-left: 20px;
    }
    
    /* -----------services--------- */
    .services {
        margin-top: 10px;
        margin-bottom: 45px;
    }
    
    .services-main-text-header {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 35px;
    }
    
    .services-main-text-paragraph {
        font-size: 14px;
        line-height: 1.5;
    }
     
    .services-item-list {
        font-size: 12px;
        margin-left: 10px;
    }
    
    .services-statistics-paragraph {
        font-size: 14px;
        margin-left: 15px;
        line-height: 1.5;
    }
    
    .services-statistic-image {
        width: 150px;
    }

    .line {
        padding: 15px 0;
    }

    .services-accordion-list {
        max-width: 650px;
        margin-top: 30px;
    }
    
    .services-list {
        width: 650px;
    }
    
    .services-list-img-paragraph {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        overflow-y: auto;
    }
    
    .accordion-header {
        position: relative;
        cursor: pointer;
    }
    
    .accordion-button::before {
        content: '>';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 1.5em;
        font-weight: bold;
    }
    
    .services-accordion-list.active .accordion-button::before {
        content: '>';
        transform: rotate(90deg);
    }

    /* ---------testimonials--------- */
    .testimonials {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .testimonials-main-text {
        width: 50%;
    }
    
    .testimonials-main-text-header {
        font-size: 35px;
        margin-top: 30px;
    }
    
    .testimonials-main-text-paragraph {
        font-size: 14px;
        margin-top: 20px;
        line-height: 1.5;
    }
    
    .testimonials-main-text-button button {
        border-radius: 4px;
        padding: 20px 33px;
        margin: 50px 0;
        font-size: 14px;
    }
    
    .testimonials-opinion-arrow {
        margin: 10px 0;
    }
    
    .testimonials-customer-opinion {
        margin: 15px 0;
    }
    
    .testimonials-person {
        margin-right: 15px;
        width: 70px;
        height: 70px;
    }
    
    .testimonials-customer-opinion-header {
        font-size: 16px;
        padding: 10px;
    }
    
    .testimonials-customer-opinion-paragraph {
        font-size: 14px;
    }
    
    .testimonials-customer-opinion-rectangle {
        width: 100%;
        height: auto;
        border-radius: 7px;
    }

    .container-customer-opinion {
        height: 346px;
        overflow: hidden;
    }
    
    /* ------------our-team--------- */
    .our-team {
        margin-bottom: 45px;
    }

    .our-team-main-text {
        width: 70%;
    } 
    
    .our-team-main-text-header {
        font-size: 35px;
        margin-top: 45px;
    }
    
    .our-team-main-text-paragraph, .our-team-another-text-paragraph {
        font-size: 14px;
        line-height: 1.5;
    }
    
    .our-team-another-text-header {
        font-size: 16px;
    }
    
    .our-team-images {
        width: 400px;
        margin-top: 40px;
    }
    
    .our-team-another-text {
        width: 70%;
    }
    
    .our-team-ico {
        width: 50%;
        margin-top: 40px;
    }
    
    /* --------contact-us----------- */
    .contact-us-checkbox-button {
        margin-bottom: 20px;
    }

    .contact-us-header-paragraph {
        width: 70%;
    }
    
    .contact-us-main-text-header {
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 15px;
    }
    
    .contact-us-main-text-paragraph {
        font-size: 14px;
        line-height: 1.5;
    }
    
    .contact-us-contact-form {
        width: 100%;
        margin-top: 30px;
    } 
    
    .contact-us-contacts-form {
        width: 70%;
        margin: 0 auto;
    }

    .first-name, .last-name {
        width: 50%;
        font-size: 14px;
        padding: 15px;
        border-radius: 4px;
    }

    .first-name, .email {
        margin-right: 20px;
    }
    
    .email, .phone {
        margin-top: 10px;
        width: 50%;
        font-size: 14px;
        padding: 15px;
        border-radius: 4px;
    }
    
    .message {
        margin-top: 10px;
        width: 100%;
        height: 200px;
        font-size: 14px;
        padding: 15px;
        border-radius: 4px;
    }
    
    .contact-us-checkbox-wrapper #square {
        width: 16px;
        height: 18px;
        border: 2px solid #061e37;
        border-radius: 3px;
        font-size: 16px;
    }

    .contact-us-checkbox-button button {
        border-radius: 5px;
        padding: 20px 30px;
        font-size: 14px;
    }
    
    /* ---footer--- */ 
    .container-footer-background {
        margin-top: 0;
    }

    .footer-logo-menu {
        padding-top: 90px;
    }

    .footer-logo img {
        width: 150px;
    }

    .footer-menu {
        display: flex;
        justify-content: right;
    }

    .footer-logo, .footer-menu {
        width: 50%;
    }
    
    .footer-main-nav {
        font-family: Raleway-SemiBold, sans-serif;
        font-size: 14px;
    }
    
    .footer-main-nav li a {
        padding: 0 10px;
    }
    
    .footer-other-links {
        font-size: 14px;
        width: 40%; 
    }
    
    .footer-nav {
        width: 100%;
    }
    
    .footer-social-ico {
        width: 30%;
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    label {
        font-size: 9px;
    }

    header {
        display: flex;
    }
    
    /* -----------header------------ */
    .header-logo {
        width: 75%;
    }

    .header-logo img {
        width: 125px;
    }

    .burger-menu-button {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 15px;
    } 

    .burger-menu {
        display: flex;
        background-color: #fff;
        position: absolute;
        top: 65px;
    }

    .burger-button {
        background: transparent;
        border: none;
    }

    .header-menu {
        display: none;
    }

    .heder-button {
        display: none;
    }

    .main-nav {
        font-size: 10px;
    }

    .main-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-nav li a {
        color: rgb(12, 181, 187);
    }

    .main-nav li {
        border-bottom: 1px solid rgb(86, 190, 190);
        width: 100%;
        text-align: center;
        padding: 3px 0;
    }

    .main-nav li:last-child {
        border-bottom: none;
    }
    
    .header-button button {
        display: none;
    }

    .main-page {
        margin-top: 20px;
    }
    
    .main-page-header  {
        font-size: 15px;
    }
    
    .main-page-paragraph {
        font-size: 11px;
        line-height: 15px;
        margin-top: 5px;
    }
    
    .main-page-buttons button {
        border-radius: 2px;
        padding: 10px 15px;
        font-size: 12px;
        margin-right: 5px;
        margin-top: 10px;
    }
    
    .video-text {
        font-size: 9px;
        margin-top: 5px;
    }

    .main-page-video {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 75%;
    }

    .video-play-arrow {
        width: 5px;
    }
    
    .square {
        width: 25px;
        height: 25px;
        border-radius: 2px;
    } 
    
    /* --------easy-useful------- */
    .easy-useful-main-text-header {
        font-size: 15px;
        margin-top: 15px;
    }
    
    .easy-useful-main-text-header-paragraph {
        font-size: 12px;
        margin: 9px 0;
    }
    
    .easy-useful-main-text-paragraph {
        font-size: 9px;
    }

    .easy-useful-columns {
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }

    .easy-useful-column-form {
        width: 100%;
        margin: 5px 0;
    }
    
    .easy-useful-column-image {
        width: 25px;
    }
    
    .easy-useful-column-header {
        font-size: 12px;
        margin-top: 5px;
    }
    
    .easy-useful-column-paragraph {
        margin-top: 5px;
        font-size: 9px;
        line-height: 1.2;
    }
    
    .easy-useful-button button {
        border-radius: 2px;
        padding: 10px 15px;
        font-size: 12px;
        margin-top: 10px;
    }
    
    /* -----------color-block--------- */
    .color-block {
        height: 75px;
    }

    .color-block-information p {
        text-align: center;
        font-size: 9px;
        padding-left: 10px;
    }

    .color-block-ico {
        width: 30px; 
        height: 30px;
        border-radius: 50%;
    }

    .color-block-ico img {
        width: 25%;
    }
    
    /* -----------services--------- */
    .services {
        margin-top: 5px;
        margin-bottom: 25px;
    }
    
    .services-main-text-header {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .services-main-text-paragraph {
        font-size: 12px;
        line-height: 1.5;
    }
    
    .services-item-list {
        font-size: 9px;
        margin-left: 5px;
    }

    .accordion-header img {
        width: 12%;
    }
    
    .services-statistics-paragraph {
        font-size: 9px;
        margin-left: 10px;
        line-height: 1.5;
    }
    
    .services-statistic-image {
        width: 100px;
    }

    .line {
        padding: 10px 0;
    }

    .services-accordion-list {
        max-width: 400px;
        margin-top: 20px;
    }
    
    .services-list {
        width: 400px;
    }
    
    .services-accordion-list.active .services-list-img-paragraph {
        height: 135px;
    }

    .accordion-button::before {
        font-size: 1em;
    }

    /* ---------testimonials--------- */
    .test {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .testimonials {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .testimonials-main-text {
        width: 75%;
    }
    
    .testimonials-main-text-header {
        font-size: 15px;
        margin-top: 15px;
    }
    
    .testimonials-main-text-paragraph {
        font-size: 12px;
        margin-top: 10px;
        line-height: 1.5;
    }
    
    .testimonials-main-text-button button {
        border-radius: 2px;
        padding: 10px 18px;
        margin: 20px 0;
        font-size: 12px;
    }

    .container-customer-opinion {
        height: 50%;
        width: 290px;
        overflow: hidden;
    }

    .warapper-arrow-text {
        display: flex;
        flex-direction: row;
    }

    .testimonials-opinion {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    
    .testimonials-person {
        margin-right: 20px;
        width: 50px;
        border-radius: 50%;
        height: 50px;
    }

    .testimonials-opinion-arrow {
        display: flex;
        align-items: center;
    }

    .testimonials-opinion-arrow i {
        width: 15px;
        height: 10px;
        margin-top: 50px;
        margin-left: 0;
        transform: rotate(-90deg);
    }

    .testimonials-customer-opinion {
        width: 128px;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .test-block {
        display: flex;
        flex-direction: row;
    }
    
    .testimonials-person {
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }
    
    .testimonials-customer-opinion-header {
        font-size: 11px;
        padding: 5px;
    }
    
    .testimonials-customer-opinion-paragraph {
        font-size: 9px;
        padding: 0 10px;
    }
    
    .testimonials-customer-opinion-rectangle {
        margin-top: 5px;
        width: 100%;
        height: auto;
        border-radius: 7px;
    }
    
    /* ------------our-team--------- */
    .our-team {
        margin-bottom: 25px;
    }

    .our-team-main-text {
        width: 70%;
    } 
    
    .our-team-main-text-header {
        font-size: 15px;
        margin-top: 15px;
    }
    
    .our-team-main-text-paragraph, .our-team-another-text-paragraph {
        font-size: 9px;
        line-height: 1.5;
    }
    
    .our-team-another-text-header {
        font-size: 12px;
    }

    .our-team-images {
        width: 200px;
        margin-top: 20px;
    }

    .our-team-back-photo {
        width: 30%;
    }

    .our-team-front-photo {
        width: 50%;
    }
    
    .our-team-another-text {
        width: 70%;
    }
    
    .our-team-ico {
        width: 50%;
        margin-top: 20px;
    }
    
    /* --------contact-us----------- */
    .contact-us-checkbox-button {
        margin-bottom: 20px;
    }

    .contact-us-header-paragraph {
        width: 70%;
    }
    
    .contact-us-main-text-header {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .contact-us-main-text-paragraph {
        font-size: 11px;
        line-height: 1.5;
    }
    
    .contact-us-contact-form {
        width: 100%;
        margin-top: 15px;
    } 
    
    .contact-us-contacts-form {
        width: 70%;
        margin: 0 auto;
    }

    .first-name, .last-name {
        width: 50%;
        font-size: 9px;
        padding: 10px;
        border-radius: 4px;
    }

    .first-name, .email {
        margin-right: 10px;
    }
    
    .email, .phone {
        margin-top: 10px;
        width: 50%;
        font-size: 9px;
        padding: 10px;
        border-radius: 4px;
    }
    
    .message {
        margin-top: 10px;
        width: 100%;
        height: 100px;
        font-size: 9px;
        padding: 10px;
        border-radius: 4px;
    }
    
    .contact-us-checkbox-wrapper #square {
        width: 8px;
        height: 8px;
        border: 1px solid #061e37;
        border-radius: 2px;
        font-size: 12px;
    }
    
    .contact-us-checkbox-button button {
        border-radius: 2px;
        padding: 10px 15px;
        font-size: 9px;
    }
    
    /* ---footer--- */ 
    footer {
        height: auto;
    }

    .container-footer-background {
        margin-top: 0;
    }

    .footer-logo-menu {
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        padding-top: 25px;
    }

    .footer-logo img {
        width: 100px;
    }

    .footer-logo {
        width: 30%;
    }

    .footer-menu {
        width: 70%;
    }
    
    .footer-main-nav {
        font-size: 10px;
    }
    
    .footer-main-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    .footer-main-nav li a {
        padding: 0 5px;
    }
    
    .footer-other-links {
        width: 100%; 
        font-size: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        list-style: none;
    }

    .footer-nav-privecy-policy {
        list-style: none;
    }
    
    .footer-social-ico {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .footer-social-ico img {
        height: 10px;
    }

    .footer-links-social {
        display: flex;
        flex-direction: column;
        padding: 26px 0 26px 0;
    }
}

@media screen and (max-width: 480px) {
    label {
        display: none;
    }

    header {
        display: flex;
        padding-top: 15px;
    }

    .container {
        padding: 0 43px;
    }
    
    /* -----------header------------ */
    .container-background {
        padding: 0 43px;
    }

    .header-logo img {
        width: 75px;
    }

    .main-nav {
        font-size: 6px;
    }

    .main-page {
        margin-top: 10px;
    }
    
    .main-page-header  {
        font-size: 11px;
    }
    
    .main-page-paragraph {
        font-size: 6px;
        line-height: 10px;
        margin-top: 4px;
    }
    
    .main-page-buttons button {
        border-radius: 2px;
        padding: 5px 7px;
        font-size: 6px;
        margin-right: 4px;
        margin-top: 5px;
    }

    .burger-menu-button {
        width: 20%;
        margin-bottom: 10px;
    } 

    .burger-menu {
        display: flex;
        position: absolute;
        top: 35px;
    }
    
    .video-text {
        font-size: 6px;
        margin-top: 4px;
    }

    .main-page-video {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 75%;
    }

    .video-play-arrow {
        width: 3px;
    }
    
    .square {
        width: 15px;
        height: 15px;
        border-radius: 2px;
    } 
    
    /* --------easy-useful------- */
    .easy-useful-main-text {
        width: 100%;
    }
    
    .easy-useful-main-text-header {
        font-size: 11px;
        margin-top: 10px;
    }
    
    .easy-useful-main-text-header-paragraph {
        font-size: 8px;
        margin: 6px 0;
    }
    
    .easy-useful-main-text-paragraph {
        font-size: 6px;
    }

    .easy-useful-columns {
        margin-top: 5px;
    }

    .easy-useful-column-form {
        margin: 4px 0;
    }
    
    .easy-useful-column-image {
        width: 15px;
    }
    
    .easy-useful-column-header {
        font-size: 9px;
        margin-top: 5px;
    }
    
    .easy-useful-column-paragraph {
        margin-top: 5px;
        font-size: 6px;
        line-height: 1.2;
    }
    
    .easy-useful-button button {
        padding: 5px 7px;
        font-size: 6px;
        margin-top: 5px;
    }
    
    /* -----------color-block--------- */
    .color-block {
        height: 50px;
    }
    
    .color-block-information p {
        text-align: center;
        font-size: 6px;
        padding-left: 5px;
    }

    .color-block-ico {
        width: 15px; 
        height: 15px;
    }

    .color-block-ico img {
        width: 25%;
    }
    
    /* -----------services--------- */
    .services {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .services-main-text {
        width: 100%;
    }
    
    .services-main-text-header {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 11px;
    }
    
    .services-main-text-paragraph {
        font-size: 8px;
        line-height: 1.5;
    }
    
    .services-item-list {
        font-size: 6px;
        margin-left: 5px;
    }

    .accordion-header img {
        width: 10%;
    }

    .accordion-button img {
        width: 30%; 
    }
    
    .services-statistics-paragraph {
        font-size: 6px;
        margin-top: 5px;
        line-height: 1.2;
        margin-left: 0;
    }
    
    .services-statistic-image {
        width: 70px;
        margin-top: 5px;
    }

    .services-list-img-paragraph {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .line {
        padding: 5px 0;
    }
    
    .services-accordion-list {
        max-width: 250px;
        margin-top: 10px;
    }
    
    .services-list {
        width: 250px;
    }
    
    .services-accordion-list.active .services-list-img-paragraph {
        height: 90px;
    }

    .accordion-button::before {
        font-size: 0.5em;
    }

    /* ---------testimonials--------- */
    .testimonials {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .testimonials-main-text {
        width: 75%;
    }
    
    .testimonials-main-text-header {
        font-size: 11px;
        margin-top: 10px;
    }
    
    .testimonials-main-text-paragraph {
        font-size: 6px;
        margin-top: 5px;
        line-height: 1.2;
    }
    
    .testimonials-main-text-button button {
        border-radius: 2px;
        padding: 5px 9px;
        margin: 10px 0;
        font-size: 6px;
    }

    .container-customer-opinion {
        height: 130px;
        overflow: hidden;
    }

    .testimonials-opinion {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    
    .testimonials-person {
        margin-right: 10px;
        width: 30px;
        border-radius: 50%;
        height: 30px;
    }

    .testimonials-opinion-arrow {
        display: flex;
        align-items: center;
    }

    .testimonials-opinion-arrow i {
        width: 15px;
        height: 10px;
        margin-top: 50px;
        margin-left: 0;
        transform: rotate(-90deg);
    }
    
    .testimonials-customer-opinion-header {
        font-size: 7px;
        padding: 5px;
    }
    
    .testimonials-customer-opinion-paragraph {
        font-size: 6px;
        padding: 0 5px;
    }
    
    .testimonials-customer-opinion-rectangle {
        margin-top: 5px;
        width: 100%;
        height: auto;
        border-radius: 5px;
    } 

    .warapper-arrow-text {
        display: flex;
        flex-direction: row;
    }

    .testimonials-customer-opinion {
        height: 100px;
        width: 128px;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
    
    /* ------------our-team--------- */
    .our-team {
        margin-bottom: 25px;
    }

    .our-team-main-text {
        width: 100%;
    } 
    
    .our-team-main-text-header {
        font-size: 11px;
        margin-top: 10px;
    }
    
    .our-team-main-text-paragraph, .our-team-another-text-paragraph {
        font-size: 6px;
        line-height: 1.2;
    }
    
    .our-team-another-text-header {
        font-size: 9px;
    }
    
    .our-team-images {
        margin-top: 10px;
    }

    .our-team-back-photo {
        width: 30%;
    }

    .our-team-front-photo {
        width: 50%;
    }
    
    .our-team-another-text {
        width: 100%;
    }
    
    .our-team-ico {
        width: 75%;
        margin-top: 10px;
    }
    
    .our-team-ico img {
        height: 10px;
        margin: 0 5px;
    }

    /* --------contact-us----------- */
    .contact-us-checkbox-button {
        margin-bottom: 10px;
    }

    .contact-us-header-paragraph {
        width: 100%;
    }
    
    .contact-us-main-text-header {
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .contact-us-main-text-paragraph {
        font-size: 6px;
        line-height: 1.2;
    }
    
    .contact-us-contacts-form {
        width: 100%;
    }

    .contact-us-contact-form {
        margin-top: 10px;
    } 
    
    .contact-us-input-field {
        width: 100%;
        margin: 0 auto;
    }

    .first-name, .last-name {
        width: 50%;
        font-size: 6px;
        padding: 5px;
        border-radius: 2px;
    }

    .first-name, .email {
        margin-right: 10px;
    }
    
    .email, .phone {
        margin-top: 5px;
        width: 50%;
        font-size: 6px;
        padding: 5px;
        border-radius: 2px;
    }
    
    .message {
        margin-top: 5px;
        width: 100%;
        height: 75px;
        font-size: 9px;
        padding: 10px;
        border-radius: 2px;
    }
    
    .contact-us-checkbox-wrapper #square {
        display: none;
    }
    
    .contact-us-checkbox-button button {
        border-radius: 2px;
        padding: 5px 7px;
        font-size: 6px;
    }
    
    /* ---footer--- */ 
    footer {
        height: auto;
    }

    .container-footer-background {
        margin-top: 0;
        padding: 0 43px;
        padding-bottom: 15px;
    }

    .footer-logo-menu {
        padding-top: 15px;
        display: flex;
        flex-direction: row;
    }

    .footer-logo {
        display: none;
    }
    
    .footer-other-links {
        margin-top: 10px;
        font-size: 8px;
        width: 100%; 
    }

    .footer-menu {
        display: none;
    }
    
    .footer-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        list-style: none;
    }

    .footer-nav-privecy-policy {
        list-style: none;
    }
    
    .footer-social-ico {
        width: 100%;
        justify-content: space-between;
        margin-right: 10px;
    }

    .footer-social-ico img {
        width: 10px;
    }

    .footer-links-social {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    label {
        display: none;
    }

    header {
        display: flex;
        padding-top: 10px;
    }

    .container {
        padding: 0 23px;
    }
    
    /* -----------header------------ */
    .container-background {
        padding: 0 23px;
    }

    .header-logo img {
        width: 65px;
    }

    .main-nav {
        font-size: 4px;
    }

    .main-page {
        margin-top: 5px;
    }
    
    .main-page-header  {
        font-size: 9px;
    }
    
    .main-page-paragraph {
        width: 75%;
        font-size: 5px;
        line-height: 8px;
    }
    
    .main-page-buttons button {
        padding: 3px 5px;
        font-size: 5px;
        margin-right: 3px;
        margin-top: 4px;
    }

    .burger-menu-button {
        width: 15%;
        margin-bottom: 5px;
    } 

    .burger-menu {
        display: flex;
        position: absolute;
        top: 28px;
    }
    
    .video-text {
        font-size: 4px;
        margin-top: 3px;
    }

    .main-page-video {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 65%;
    }
    
    /* --------easy-useful------- */
    .easy-useful-main-text-header {
        font-size: 9px;
        margin-top: 5px;
    }

    .easy-useful-main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .easy-useful-main-text-header-paragraph {
        font-size: 6px;
        margin: 4px 0;
    }
    
    .easy-useful-main-text-paragraph {
        width: 75%;
        font-size: 4px;
    }

    .easy-useful-column-image {
        width: 10px;
    }
    
    .easy-useful-column-header {
        font-size: 7px;
    }
    
    .easy-useful-column-paragraph {
        width: 80%;
        font-size: 4px;
    }
    
    .easy-useful-button button {
        padding: 3px 5px;
        font-size: 5px;
    }
    
    /* -----------color-block--------- */
    .color-block {
        height: 30px;
    }
    
    .color-block-information p {
        font-size: 4px;
    }

    .color-block-ico {
        width: 10px; 
        height: 10px;
    }
    
    /* -----------services--------- */
    .services {
        margin-bottom: 5px;
    }

    .services-main-text {
        width: 75%;
    }
    
    .services-main-text-header {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 9px;
    }
    
    .services-main-text-paragraph {
        font-size: 6px;
        line-height: 1.2;
    }
    
    .services-item-list {
        font-size: 5px;
    }

    .accordion-header img {
        width: 8%;
    }

    .accordion-button img {
        width: 20%; 
    }
    
    .services-statistics-paragraph {
        font-size: 4px;
    }
    
    .services-statistic-image {
        width: 50px;
    }

    /* ---------testimonials--------- */
    .testimonials-main-text {
        width: 75%;
    }
    
    .testimonials-main-text-header {
        font-size: 9px;
        margin-top: 5px;
    }
    
    .testimonials-main-text-paragraph {
        font-size: 5px;
    }
    
    .testimonials-main-text-button button {
        border-radius: 2px;
        padding: 3px 7px;
        margin: 5px 0;
        font-size: 4px;
    }

    .container-customer-opinion {
        height: 130px;
        width: 138px;
        overflow: hidden;
    }

    .testimonials-opinion {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    
    .testimonials-person {
        width: 25px;
        height: 25px;
    }

    .testimonials-opinion-arrow i {
        width: 10px;
        height: 5px;
        margin-top: 20px;
    }
    
    .testimonials-customer-opinion-header {
        font-size: 6px;
    }
    
    .testimonials-customer-opinion-paragraph {
        font-size: 5px;
    }

    /* ------------our-team--------- */
    .our-team {
        margin-bottom: 10px;
    }

    .our-team-main-text {
        width: 75%;
    } 
    
    .our-team-main-text-header {
        font-size: 9px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .our-team-main-text-paragraph, .our-team-another-text-paragraph {
        font-size: 6px;
        line-height: 1.2;
    }
    
    .our-team-another-text-header {
        margin-top: 10px;
        font-size: 7px;
    }
    
    .our-team-images {
        margin-top: 5px;
    }

    .our-team-back-photo {
        width: 20%;
    }

    .our-team-front-photo {
        width: 40%;
    }
    
    .our-team-another-text {
        width: 75%;
    }
    
    .our-team-ico {
        width: 50%;
        margin-top: 10px;
    }
    
    .our-team-ico img {
        height: 5px;
    }

    /* --------contact-us----------- */
    .contact-us-checkbox-button {
        margin-bottom: 10px;
    }

    .contact-us-header-paragraph {
        width: 75%;
    }
    
    .contact-us-main-text-header {
        font-size: 9px;
    }
    
    .contact-us-contacts-form {
        width: 75%;
    }

    .first-name, .last-name {
        font-size: 5px;
    }

    .email, .phone {
        font-size: 5px;
    }
    
    .message {
        height: 50px;
        font-size: 5px;
    }
    
    .contact-us-checkbox-button button {
        font-size: 5px;
    }
    
    /* ---footer--- */ 
    .container-footer-background {
        padding: 0 23px;
        padding-bottom: 10px;
    }

    .footer-logo-menu {
        padding-top: 10px;
    }

    .footer-other-links {
        font-size: 6px;
        width: 75%; 
    }
    
    .footer-social-ico {
        width: 75%;
    }

    .footer-social-ico img {
        width: 8px;
    }

}